:root {
  --primary-color:71, 178, 228; /* #47b2e4 */
  --color-purple:163, 38, 131; /* #a32683 */
  --color-dark-blue:55 81 126; /* #37517e */
  --color-dark-black:16 31 65; /* #101F41 */
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Noto Sans TC", "Source Han Sans", "Microsoft JhengHei", 微軟正黑體, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444444;
}

a {
  color: rgba(var(--primary-color));
  text-decoration: none;
}

a:hover {
  color:rgba(var(--primary-color), .8);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Noto Sans TC", "Source Han Sans", "Microsoft JhengHei", 微軟正黑體, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background:rgba(var(--color-dark-blue));
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid rgba(var(--color-dark-blue));
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgba(var(--primary-color));
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgba(var(--primary-color), .8);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(255, 255, 255, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  /* max-height: 40px; */
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: rgba(var(--color-dark-black));
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color:rgba(var(--color-purple));
}

.navbar .getstarted {
  padding: 6px 24px;
  margin-left: 30px;
  border-radius: 50px;
  color: rgba(var(--color-purple));
  font-size: 16px;
  border: 2px solid rgba(var(--color-purple));
  font-weight: 600;
}

.navbar .getstarted:hover {
  color: #fff;
  background: rgba(var(--color-purple));
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: rgba(var(--color-dark-black));
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: rgba(var(--color-purple));
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: rgba(var(--color-purple));
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 20px;
  bottom: 55px;
  left: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 12px 20px;
  font-size: 18px;
  color: rgba(var(--color-dark-blue));
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: rgba(var(--color-purple));
}

.navbar-mobile .getstarted {
  width: fit-content;
  margin: 15px;
  color:rgba(var(--color-purple));
  text-align:center;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color:rgba(var(--primary-color));
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Index Section
--------------------------------------------------------------*/
#index {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
#index .index-bg::after {
  content: "";
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: url(../img/main-base.png) no-repeat center;
  background-size: cover;
  text-align: center;
  /* background-attachment: fixed; */
  z-index:0;
}

#index .container {
  position: relative;
  padding-top: 72px;
  z-index:5;
  text-align:center;
}

#index .w-opacity-bg {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius:1rem;
}

#index h1 {
  margin: 0 0 20px 0;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.25;
  color: rgba(var(--color-dark-blue));
}

#index h3 {
  color: rgba(var(--color-dark-blue));
  font-size: 22px;
  line-height: 1.5;
}

#index .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#index .hero-img img {max-width:80%;}

@media (max-width: 1400px) {
  #index h1 {
    font-size: 42px;
  }
  #index h3 {
    font-size: 18px;
  }
  #index .hero-img img {
    width: 50%;
  }
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) {
  #index .hero-img img {
    width: 80%;
  }
}

@media (max-width:1024px) {
  #index .animated {
    -webkit-animation: none;
    animation: none;
  }
  #index .hero-img {
    text-align: center;
  }
  #index .hero-img img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  #index h1 {
    font-size: 36px;
    line-height: 1.25;
  }
  #index h3 {
    font-size: 18px;
    line-height: 24px;
  }
  #index .hero-img img {
    width: 40%;
  }
}

@media (max-width: 575px) {
  #index .hero-img img {
    width: 40%;
  }
  #index h1 {
    font-size: 28px;
  }
  #index h3 {
    font-size: 15px;
    line-height: 20px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* === Audio Area === */
.audio-area {
  position: relative;
  margin-top:30px;
}

.audio-area .audio-icon::before {
  content: "";
  background: url(../img/microphone_w.svg) center no-repeat;
}

.audio-area .audio-icon div {
  position: relative;
  background: url(../img/microphone.svg) center no-repeat;
  background-color: #fff;
  width: 75px;
  height: 75px;
  display: inline-block;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
}

.audio-area .audio-icon div:hover {
  background: url(../img/microphone_w.svg) center no-repeat;
  cursor: pointer;
}

.audio-area .audio-icon div:active {
  transform: scale(.95);
}

.audio-area .audio-icon div::after {
  position: absolute;
  content: "";
  border-radius: 100%;
  left: -12px;
  top: -13px;
  right: 0;
  z-index: 0;
  background: #d164646e;
  background: linear-gradient(#afff8b 0%, #a1eb80 25.51%, #69cf7f 100%);
  opacity: 0.5;
  width: 100px;
  height: 100px;
  z-index: -1;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .audio-area .audio-icon div::after {
    width: 80px;
    height: 80px;
    left: -15px;
    top: -14px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .audio-area .audio-icon div {
      width:50px;
      height:50px;
      line-height:50px
  }
}

@media (max-width: 575px) {
  .audio-area .audio-icon div {
    width:60px;
    height:60px;
    line-height:50px
  }
  .audio-area .audio-icon div::after {
    width: 90px;
    height: 90px;
    left: -15px;
    top: -16px;
  }
}

.audio-area .audio-icon div.btn-icon {
  position: relative
}

.audio-area .audio-icon div.btn-icon::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid #69CF7F;
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite
}

@media (max-width: 575px) {
  .audio-area .audio-icon div.btn-icon::before {
    width: 80px;
    height: 80px;
    left: -10px;
    top: -9px;
  }
}

@-webkit-keyframes btnIconRipple {
  0% {
      border-width: 4px;
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  50% {
      border-width: 1px;
      -webkit-transform: scale(1.5);
      transform: scale(1.5)
  }

  80% {
      border-width: 1px;
      -webkit-transform: scale(1.9);
      transform: scale(1.9)
  }

  100% {
      opacity: 0
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color:#f7f2cb;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
  color: rgba(var(--color-dark-blue));
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 2px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 4px;
  background:rgba(var(--primary-color));
  bottom: 0;
  left: calc(50% - 20px);
}

section .section-title .section-heading p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
}

section .section-title .section-heading p span {
  background-image: -webkit-linear-gradient(left, transparent 50%, #FAD600 50%);
  background-repeat: repeat-x;
  background-size: 200% 0.3em;
  background-position: -100% 0.9em;
}

@media (max-width:1400px) {
  .section-title h2 {font-size:42px;line-height:54px;}
  section .section-title .section-heading p {
    font-size:28px;line-height:46px;
  }
}

@media (max-width:768px) {
  .section-title h2 {font-size:32px;line-height:44px;}
  section .section-title .section-heading p {
    font-size:20px;line-height:34px;
  }
}

@media (max-width:540px) {
  .section-title h2 {font-size:28px;line-height:40px;margin-bottom: 0;}
  section .section-title .section-heading p {
    font-size:20px;line-height:30px;
  }
}

.section-title .section-content h3 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  color: rgba(var(--color-dark-blue));
}

.section-title p {
  margin-bottom: 0;
}

p.txt {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.75;
}

p.txt span {
  background-image: -webkit-linear-gradient(left, transparent 50%, #FAD600 50%);
  background-repeat: repeat-x;
  background-size: 200% 0.3em;
  background-position: -100% 0.9em;
  color:rgba(var(--color-dark-blue));
  font-weight: bold;
}


section .btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Noto Sans TC", "Source Han Sans", "Microsoft JhengHei", 微軟正黑體, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 4px;
  transition: 0.3s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

section .btn-m {
  font-size: 14px;
  padding: 12px 32px;
  border-radius: 100rem;
  transition: 0.3s;
  line-height: 1;
  margin-top: 6px;
}

section .btn-primary {
  color:rgba(var(--primary-color));
  border: 2px solid rgba(var(--primary-color));
  background-color:#fff;
}

section .btn-primary:hover {
  background: #47b2e4;
  border: 2px solid rgba(var(--primary-color));
  color: #fff;
  text-decoration: none;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: rgb(255, 255, 255);
  background:rgba(var(--primary-color));
  border-color:rgba(var(--primary-color));
  box-shadow:rgba(var(--primary-color), .5) 0px 0px 0px 0.25rem;
}

@media (max-width: 768px) {
  .moble-div-center {
    text-align:center;
  }
}

/* 
---------------------------------------------
# Intro
--------------------------------------------- 
*/
#intro {
  background: rgb(224,244,248);
  background: linear-gradient(0deg, rgba(224,244,248,1) 0%, rgba(255,253,237,1) 100%);
}

.intro-us img.img-fluid {
  margin-bottom:3rem;
}

.intro-us .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.intro-us .about-item h4 {
  font-size:38px;
  font-weight: 800;
  color:rgba(var(--primary-color));
}

.intro-us .about-item h6 {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 400;
  color: #2a2a2a;
  text-transform: capitalize;
}

.intro-us .section-content {
  text-align: left;
}

.intro-us .arrow {
  margin: auto;
  display: block;
  width: 71px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 95px;
  background: url(../img/arrow.svg) no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .intro-us .about-item {
    text-align:center;
    margin-bottom:1.5rem;
  }
  .intro-us p, .section-heading p {
    margin-top:1rem;
  }
  .intro-us .section-content p {
    margin-top:0;
  }
}

.intro-us .content ul {
  list-style: none;
  padding: 0;
}

.intro-us .content ul li {
  padding-left: 28px;
  position: relative;
}

.intro-us .content ul li + li {
  margin-top: 10px;
}

.intro-us .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}

.intro-us .content p:last-child {
  margin-bottom: 0;
}

.intro-us .device-txt {
  width: 100%;
  margin-right: 43px;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.intro-us .device-txt li {list-style: none;}

.intro-us .device-txt ul li {
  position: relative;
  padding-left: 60px;
  font-size: 22px;
  line-height: 36px;
  padding-bottom: 20px;
}

.intro-us .device-txt ul li .circle {
  position: absolute;
  width: 40px;
  left: 0;
  border-radius: 50%;
  height: 40px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  background-color:rgba(var(--color-dark-blue));
  display: block;
  color: #fff;
}

.intro-us .device-txt span {
  color:rgba(var(--color-purple));
}

@media (max-width: 1024px) {
  .intro-us .content, .intro-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .intro-us .content {
    padding-top: 30px;
  }
}

.intro-us .icon-box {
  border-radius: 20px;
  border:rgba(var(--primary-color)) solid 3px;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
  width: 100%;
  text-align: center;
}

.intro-us .icon-box .icon {
  margin-bottom: 10px;
}

.intro-us .icon-box .icon i {
  color: rgba(var(--primary-color));
  font-size: 36px;
  transition: 0.3s;
}

.intro-us .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
  color: rgba(var(--color-dark-blue));
  transition: ease-in-out 0.3s;
}

.intro-us .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.intro-us .icon-box:hover {
  transform: translateY(-10px);
}

.intro-us .icon-box:hover h4 {
  color: rgba(var(--primary-color));
}

@media (max-width:540px) {
  .intro-us p,.intro-us .device-txt ul li {
    font-size:18px;
    line-height: 28px;
  }
}

/*--------------------------------------------------------------
# Topoc
--------------------------------------------------------------*/
#topic {background:#e4fff4;}
.topic .topic-card {
  width:100%;
  border-radius:25px;
  padding:2rem 1.5rem;
  color:#fff;
  -webkit-box-shadow: 0px 5px 6px rgb(72 105 114 / 15%);
  box-shadow: 0px 5px 6px rgb(72 105 114 / 15%);
  min-height:417px;
}
.topic .topic-card img {max-width:100%;}
.topic .card-num {
  background-color:#fff;
  border-radius:100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width:60px;
  height:60px;
  margin-right:10px;
  font-size:40px;
  font-weight:700;
}
.topic .card-top,.topic .card-title {display:flex;align-items:center;}
.topic .card-top {margin-bottom:15px;}

.topic .card-title,
.topic .card-title h4 {margin-bottom:0;margin-right:10px;}

.topic .card-info .description {margin-bottom:20px;font-size:16px;}

.topic .card-info p.note {
  border-top:1px solid #fff;
  margin-top: 20px;
  padding-top:20px;
  font-size:14px;
  line-height:1.85;
}
.topic .card-info p.note span {
  font-size:16px;
  font-weight:700;
}

.topic .topic-card.color-1 {background-color:#0880AE;}
.topic .topic-card.color-1 .card-num {color:#0880AE;}
.topic .topic-card.color-2 {background-color:#14A38B;}
.topic .topic-card.color-2 .card-num {color:#14A38B;}
.topic .topic-card.color-3 {background-color:#8e6659;}
.topic .topic-card.color-3 .card-num {color:#8e6659;}
.topic .topic-card.color-4 {background-color:#a55490;}
.topic .topic-card.color-4 .card-num {color:#a55490;}

@media (max-width:768px) {
  .topic .topic-card {min-height:auto;}
}

@media (max-width:540px) {
  .topic .card-top .card-title {
    display:block;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
#pricing {
  background:url(../img/bg-pricing.jpg) no-repeat center;
}
.pricing .section-title h2::before {
  background: #9bca50;
}
.pricing .box {
  position: relative;
  padding: 50px 100px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  height: 100%;
  border-radius: 25px;
  color:#fff;
  text-align:center;
}
.pricing .box.box-1 {
  background: rgba(67,152,242,1);
  background: linear-gradient(148deg, rgba(142,234,219,1) 0%, rgba(67,152,242,1) 100%);
}
.pricing .box.box-2 {
  background: rgb(181,160,241);
  background: linear-gradient(148deg, rgba(181,160,241,1) 0%, rgba(252,136,146,1) 100%);
}
.pricing .info {position:relative;z-index:5;}
.pricing .info h3 {
  font-size:30px;
  font-weight: normal;
}
.pricing h4 {
  font-size: 48px;
  margin-bottom: 15px;
}
.pricing h4 sup {
  font-size: 28px;
}
.pricing h4 span {
  font-size: 18px;
}
.pricing .buy-btn {
  display: inline-block;
  margin-top:15px;
  padding: 12px 48px;
  border-radius: 100rem;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  background-color:#fff;
}
.box-1 .buy-btn {
  color:#4DA3EF;
}
.pricing .box-1 .buy-btn:hover {
  background:rgba(142,234,219,1);
  color: #fff;
}
.box-2 .buy-btn {
  color:#e86677
}
.pricing .box-2 .buy-btn:hover {
  background:#e86677;
  color: #fff;
}
.pricing .box .feather {
  position: absolute;
  bottom:0;
}
.pricing .box-1 .feather {
  left:-20px;
}
.pricing .box-2 .feather {
  right:-75px;
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 540px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
    padding: 30px 40px;
  }
}

.page-subscribe #pricing {
  height: 100vh;
}

/*--------------------------------------------------------------
# Share
--------------------------------------------------------------*/
.share .share-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  list-style: none;
  padding: 0;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; */
}

.share .share-content ul li:nth-of-type(odd) {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 1%;
}

.share .share-content ul li:nth-of-type(n) .img {
  width: 125px;
  image-rendering: auto;
}

.share .share-content ul li:nth-of-type(odd) .txt {
  width: calc(100% - 155px);
  display: block;
  background-color: #fff;
  border-radius: 20px;
  margin-left: 30px;
  padding: 20px;
  font-size: 22px;
  line-height: 36px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.share .share-content ul li:nth-of-type(odd) .txt::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 26.0px 15px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  left: -16px;
  top: 48px;
}

.share .share-content ul li:nth-of-type(even) {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -ms-flex-wrap: wrap;
  flex-wrap: wrap; */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 1%;
}

.share .share-content ul li:nth-of-type(even) .txt {
  width: calc(100% - 155px);
  display: block;
  background-color: #fff;
  border-radius: 20px;
  margin-right: 30px;
  padding: 20px;
  font-size: 22px;
  line-height: 36px;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.share .share-content ul li:nth-of-type(even) .txt::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  right: -16px;
  top: 48px;
}

.share .share-content ul li:nth-of-type(n) .txt .title {
  color: #E66500;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}

.share .share-content ul li:nth-of-type(n) .txt p {
  font-size: 18px;
  line-height: 1.75;
}


@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .share .share-content ul li:nth-of-type(n) {
      width: 100%;
      margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .share .share-content ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .share .share-content ul li:nth-of-type(odd), 
  .share .share-content ul li:nth-of-type(even) {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .share .share-content ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .share .share-content ul li:nth-of-type(n) {
    width: 100%;
  }
  .share .share-content ul li:nth-of-type(n) .img img {
    width: 100%;
  }
  .share .share-content ul li:nth-of-type(n) .img, 
  .share .share-content ul li:nth-of-type(n+1) .img {
    width: 65px;
  }
  .share .share-content ul li:nth-of-type(n) .txt {
    width: calc(100% - 85px);
    font-size: 18px;
    line-height: 32px;
  }
  .share .share-content ul li:nth-of-type(odd) .txt {
    margin-left: 20px;
    padding: 15px;
  }
  .share .share-content ul li:nth-of-type(even) .txt {
    margin-right: 20px;
    padding: 15px;
  }
  .share .share-content ul li:nth-of-type(n) .txt .title {
    margin-bottom: 0;
    font-size: 20px;
  }
  .share .share-content ul li:nth-of-type(n) .txt p {
    font-size:1rem;
    line-height:1.5;
  }
}

/*--------------------------------------------------------------
# Doctor
--------------------------------------------------------------*/ 
#doctor {background: #fffded;}
.doctor .doc-item {
  margin-bottom:20px;
}
.doctor .doctor-item {
  position: relative;
  display: flex;
  -webkit-box-shadow: 0px 5px 6px rgb(72 105 114 / 15%);
  box-shadow: 0px 5px 6px rgb(72 105 114 / 15%);
  border-radius: 14px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: #607d8b;
  border-radius: 35px;
  overflow: hidden;
}
.doctor-item .doc-img {
  min-height: 35vh;
  border-radius:35px;
  background-repeat:no-repeat;
  background-position:top center;
  background-size:cover;
}
.doctor-item .doc-text h4 {
  font-weight: 400;
  margin-bottom: 10px;
}
.doctor-item .doc-text h4 span {
  font-size:18px;
}
.doctor-item .doc-text h6 {
  font-weight:normal;
  font-size:15px;
  line-height:1.5;
  padding-bottom: 14px;
  border-bottom: 1px solid #ddd;
}
.doctor-item .doc-text p {
  margin-bottom:0;
  padding-top:5px;
  font-size: 15px;
  line-height: 1.25;
}
.doctor-item .doc-text p.caption {
  margin-top:5px;
  font-size: 13px;
  line-height: 1.5;
}

.doctor-item .doc-img.doc-1 {
  background-image:url(../img/doctor/01.jpg);
}
.doctor-item .doc-img.doc-2 {
  background-image:url(../img/doctor/02.jpg);
}
.doctor-item .doc-img.doc-3 {
  background-image:url(../img/doctor/02.jpg);
}
@media (max-width:1400px) {
  .doctor-item .doc-img {
    min-height: 55vh;
  }
}
@media (max-width:1024px) {
  .doctor-item .doc-img {
    min-height: 45vh;
  }
}
.doctor-item .doc-text {
  padding: 1.5rem .5rem;
  color:#fff;
}

@media (max-width: 768px) {
  .doctor-item .doc-text {
    padding: 1.5rem;
    min-height:35vh;
  }
}
@media (max-width:540px) {
  .doctor-item .doc-text {
      padding: 1.5rem;
      min-height: 40vh;
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list, .faq .cis-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list a.link {
  display:inline-block;
  font-weight: 500;
  padding:0;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #47b2e4;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #37517e;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #47b2e4;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

.faq .cis-list {
  margin-top: 50px;
  padding: 0 100px;
}
.faq .cis-list ul li {
  margin-bottom:20px;
  font-size:20px;
}

@media (max-width: 1200px) {
  .faq .faq-list, .faq .cis-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Process
--------------------------------------------------------------*/
#process {background:#e4fff4;}
@media (max-width: 1024px) {
  .process .hide-mobile {display:none;}
  .process .arrow-step img {
    margin-top: 20px;
    transform: rotate(90deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #74a564;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background:#d8e8d3;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(var(--color-dark-blue));
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Noto Sans TC", "Source Han Sans", "Microsoft JhengHei", 微軟正黑體, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: rgba(var(--color-dark-blue));
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


